# Supabase Configuration
# URL của dự án: Lấy từ Project Settings > API
VITE_SUPABASE_URL=https://kspwispwgdguzbplwsjo.supabase.co
# Anon Key: Lấy từ Project Settings > API
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzcHdpc3B3Z2RndXpicGx3c2pvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczOTY1NDUsImV4cCI6MjA5Mjk3MjU0NX0.-Vr3SfMXrgsBapt56B8M0CFaOFd7htkC05w4M4JzzyU
# Service Role Key (Chỉ dùng ở Backend): Lấy từ Project Settings > API
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzcHdpc3B3Z2RndXpicGx3c2pvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzM5NjU0NSwiZXhwIjoyMDkyOTcyNTQ1fQ.RAIxx3j50Czy4dpr71Rwa0s0v4sbiNoEFDO6-Ovn1GM
